body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f0f0f0;
}

.product-flexbox {
  padding-bottom: 2%;
  background: #F4F5FA;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.product-cardsection {
  background: #FFF;
  width: 300px;
  margin: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  border-radius: 5px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-cardsection:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0px 30px #35AFFD;
}

.img-section {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

@media (max-width: 768px) {
  .product-cardsection {
    width: 45%;
  }

  .product-flexbox {
    padding-bottom: 4%;
  }
}

@media (max-width: