.appbar {
    background-color: #35AFFD!important;
    color: #FFFFFF;
    display: flex!important;
    flex-direction: row!important;
}

.app-box {
    width: 400px;
    display: flex;
    align-items: center;
}

.app-logo {
    width: 100px;
    /* height: 100px; */
    /* padding: 5px; */
}  

/* .MuiList-root {
    width: 640px;
} */

.css-hyum1k-MuiToolbar-root {
    min-height: 0px!important;
}

.content {
    width: 100%;
}

@media (max-width: 600px) {
    .MuiIconButton-root {
        width: 100px!important;
    }
    
    .content {
        margin-top: -60px;
    }
}

@media (max-width: 768px) {
    .app-box {
        width: 700px;
        display: flex;
        align-items: center;
    }
    .MuiIconButton-root {
        width: 100px!important;
    }
    .MuiList-root {
        display: none;
    }

    .MuiDrawer-root .MuiList-root {
        display: block;
    }
}

@media (min-width: 769px) {
    .MuiDrawer-root .MuiList-root {
        display: none;
    }

    .MuiList-root {
        display: flex;
        gap: 20px;
    }
}
