.appbar {
    background-color: #35AFFD!important;
    color: #FFFFFF;
}

.content {
    width: 100%;
}

@media (max-width: 600px) {
    .content {
        margin-top: -60px;
    }
}

@media (max-width: 768px) {
    .MuiList-root {
        display: none;
    }

    .MuiDrawer-root .MuiList-root {
        display: block;
    }
}

@media (min-width: 769px) {
    .MuiDrawer-root .MuiList-root {
        display: none;
    }

    .MuiList-root {
        display: flex;
        gap: 20px;
    }
}
