.portfolio-container {
  width: 1311px;
  background-color: #abd1e9;
  padding: 20px;
}

.portfolio-title {
  text-align: center;
  font-weight: bolder!important;
  color: #FFF;
}

.portfolio-cardsection {
  width: 360px!important;
  margin: 15px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
}

.portfolio-imgsection {
  height: 200px;
  width: 280px!important;
  border-radius: 10px;
}

.slick-slider {
  padding: 55px;
}

.slick-slide {
  width: 390px!important;
  padding: 0 5px;
}

.slick-prev,
.slick-next {
  z-index: 1;
  width: 50px;
}

.slick-dots {
  bottom: 10px;
}

/* Tablet view (up to 1024px) */
@media (max-width: 1024px) {
  #portfolio-section {
    min-height: 0!important;
  }
  .portfolio-container {
    width: 100%!important;
    height: 100%!important;
    padding: 0px;
  }

  .title-container {
    padding-top: 30px;
  }

  .portfolio-title {
    width: 100%!important;
    text-align: center;
  }
  .slider-container {
    padding: 20px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .portfolio-cardsection {
    width: 300px!important;
    margin: 0 auto;
  }

  .slick-slide {
    margin: 0 auto;
    width: 100%!important;
    padding: 5px!important;
    display: flex!important;
    justify-content: space-evenly!important;
  }

  .slick-slider {
    width: 100%; 
    padding: 10px; 
  }

  .slick-list {
    overflow: hidden;       
  }
  .slick-dots {
    bottom: -10px;
  }
  .slick-track {
    display: flex;
  }
}


/* Mobile view (up to 600px) */
@media (max-width: 600px) {
  .portfolio-container {
    width: 100%!important;
    /* padding: 12px; */
  }

  .title-container {
    padding-top: 20px;
  }

  .portfolio-title {
    width: 100%!important;
    text-align: center!important;
  }

  .slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .portfolio-cardsection {
    width: 300px!important;  
    margin: 0 auto; 
  }

  .slick-slide {
    padding: 5px!important;
    margin: 0 auto;          
    width: 100%!important;   
  }

  .slick-slider {
    width: 350px;            
    padding: 20px;           
  }

  .slick-list {
    overflow: hidden;        
  }

  .slick-track {
    display: flex;
  }
}
